################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureFunctions/obj/Release/net8.0
/AzureFunctions/obj/Debug/net8.0
/AzureFunctions/obj
