################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AzureFunctions/obj/Release/net8.0
/AzureFunctions/obj/Debug/net8.0
/AzureFunctions/obj
/AzureFuncWithBlobTriggers/__blobstorage__/e8c2d83c-8205-4f68-b767-e35ad532b889

